<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A basic HTML template for starting a webpage"
    />
    <meta name="author" content="Your Name" />
    <title>Basic HTML Template</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    {% for item in item_list %}
    <ul>
      {% comment %} <a href="/food/{{ item.id }}"> {% endcomment %}
        <a href="{% url 'detail_view' item.id %}">
        <li>{{ item.id }} -- {{ item.item_name }}</li>
      </a>
    </ul>
    {%endfor %}
  </body>
</html>
